/*The adaptive design is starting here*/

/*Adapt for 320px*/
@media screen and (max-width: 375px){
    header{
        font-family: sans-serif;
        height: 40px;
    }

    .menu{
        visibility: hidden;
    }

    .logo{
        width: 35px;
        border-radius: 50%;
    }
    .logo-container{
        display: inline;
        align-items: center;
    }
    .span-container{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .logo-text-sub{
        margin-top: 3px;
        text-align: center;
        color: darkgrey;
        float: right;
    }
    strong{
        background: black;

        padding: 3px 5px;
    }
    strong.orange{
        background: orange;
        color: black;
    }
    strong.black{
        color: #ffffff;
    }
    .main{
        display: flex;
        flex-direction: column;

    }
    .cards-head-text{
        font-size: 20px;
    }
    .card{
        width: 180px;
        border-radius: 5px;
        padding: 20px 20px 40px;
        background: #eeeeee;

        margin: 20px 10px;
    }

}



/*Main styles*/
header{
    font-family: sans-serif;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    height: 80px;
}

.menu{
    display: flex;
    justify-content: space-between;
}
.menu-link{
    font-size: 20px;
    text-transform: uppercase;
    list-style: none;
    margin-left: 20px;
    color: #383838;

    transition: padding-left 0.3s, color 0.25s, border-left ease-in 0.2s;
}
.menu-link:hover{
    color: #2258a1;
    cursor: pointer;
    border-left: 4px solid orange;
    padding-left: 4px;
}

a{
    text-decoration: none;
    color: #000;
}

.logo{
    width: 70px;
    border-radius: 50%;
}
.logo-container{
    display: flex;
    align-items: center;
}
.span-container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.logo-text-sub{
    margin-top: 3px;
    text-align: center;
    color: darkgrey;
    float: right;
}
strong{
    background: black;

    padding: 3px 5px;
}
strong.orange{
    background: orange;
    color: black;
}
strong.black{
    color: #ffffff;
}
.main{
    display: flex;
    flex-direction: column;

}

.video-block{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
}
.video-zulfat{
    border-radius: 7px;
    box-shadow: 0px 5px 15px rgba(0,0,0, 0.5);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: auto;
    justify-content: center;

}
.cards-head-text{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;

    margin-bottom: 40px;
}
.card{
    width: 180px;
    border-radius: 5px;
    padding: 20px 20px 40px;
    background: #eeeeee;

    margin: 20px 10px;
}

/*The adaptive design is starting here*/

/*Adapt for 320px*/
@media screen and (max-width: 375px){
    header{
        font-family: sans-serif;
        height: 40px;
    }

    .menu{
        visibility: hidden;
    }

    .logo{
        width: 35px;
        border-radius: 50%;
    }
    .logo-container{
        display: inline;
        align-items: center;
    }
    .span-container{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .logo-text-sub{
        margin-top: 3px;
        text-align: center;
        color: darkgrey;
        float: right;
    }
    strong{
        background: black;

        padding: 3px 5px;
    }
    strong.orange{
        background: orange;
        color: black;
    }
    strong.black{
        color: #ffffff;
    }
    .main{
        display: flex;
        flex-direction: column;

    }
    .cards-head-text{
        font-size: 20px;
    }
    .card{
        width: 180px;
        border-radius: 5px;
        padding: 20px 20px 40px;
        background: #eeeeee;

        margin: 20px 10px;
    }

}